<div id="codeGenUiInner">
    <form novalidate>
        <div class="intro">Please click into the sections below and click simulate at the bottom when ready.</div>
        <details>
            <summary>Grant</summary>
            <p>
                <div class="mb-3">
                    <label for="totalGrant" class="form-label">Number of options</label>
                    <input type="text" class="form-control code-ui-input" id="totalGrant" aria-describedby="totalGrantHelp" value="{{ variables.totalGrant }}" pattern="[0-9,]+" required>
                    <div id="totalGrantHelp" class="form-text">Total number of options granted.</div>
                </div>
                <div class="mb-3">
                    <label for="strikePrice" class="form-label">Strike price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control code-ui-input" id="strikePrice" aria-describedby="strikePriceHelp" value="{{ variables.strikePrice }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                    </div>
                    <div id="strikePriceHelp" class="form-text">Strike price or cost to purchase per share in dollars.</div>
                </div>
                <div class="mb-3">
                    <label for="startFMV" class="form-label">Start FMV</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control code-ui-input" id="strikePrice" aria-describedby="startFMVHelp" value="{{ variables.startFMV }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                    </div>
                    <div id="startFMVHelp" class="form-text">Starting <a href="#info409a" class="info-409a-link">409A fair market value</a> per share. Note that this simulation will <a href="#simulateFMVChanges" id="simulateFMVChangesLink">simulate FMV changes</a> tied to new rounds.</div>
                </div>
                <div class="mb-3">
                    <label for="startTotalShares" class="form-label">Start total shares</label>
                    <input type="text" class="form-control code-ui-input" id="startTotalShares" aria-describedby="startTotalSharesHelp" value="{{ variables.startTotalShares }}" pattern="[0-9,]+" required>
                    <div id="startTotalSharesHelp" class="form-text">Starting fully diluted shares: shares you have plus shares you don't. You can also <a id="calculateFromPercentOwnershipLink" href="#calculateFromPercentOwnership">calculate this from your fully diluted percent ownership</a> in the company. Simulation will diluate shares with new raises.</div>
                </div>
            </p>
        </details>

        <details>
            <summary>Vesting</summary>
            <p>
                <div class="mb-3">
                    <label for="startVestingMonths" class="form-label">Months till cliff</label>
                    <input type="text" class="form-control code-ui-input" id="startVestingMonths" aria-describedby="startVestingMonthsHelp" value="{{ variables.startVestingMonths }}" pattern="[0-9,]+"  required>
                    <div id="startVestingMonthsHelp" class="form-text">Number of months until vesting starts.</div>
                </div>
                <div class="mb-3">
                    <label for="immediatelyVest" class="form-label">Immediately vest at cliff</label>
                    <input type="text" class="form-control code-ui-input" id="immediatelyVest" aria-describedby="immediatelyVestHelp" value="{{ variables.immediatelyVest }}" pattern="[0-9,]+" required>
                    <div id="immediatelyVestHelp" class="form-text">Number of shares that will immedietly vest at cliff.</div>
                </div>
                <div class="mb-3">
                    <label for="monthlyVest" class="form-label">Monthly vest after cliff</label>
                    <input type="text" class="form-control code-ui-input" id="monthlyVest" aria-describedby="monthlyVestHelp" value="{{ variables.monthlyVest }}" pattern="[0-9,]+"  required>
                    <div id="monthlyVestHelp" class="form-text">Number of shares vesting per month after cliff.</div>
                </div>
            </p>
        </details>

        <details>
            <summary>Taxes</summary>
            <p>
                <div class="mb-3">
                    <label for="optionTax" class="form-label">Taxes on option purchase</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="optionTax" aria-describedby="optionTaxHelp" value="{{ variables.optionTax }}"pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="optionTaxHelp" class="form-text">Effective tax rate on "spread" between your strike price and fair maket value. <a href="#taxSpread" id="taxSpreadLink">More info on taxes paid on spread</a>. Input value from 0 to 100.</div>
                </div>
                <div class="mb-3">
                    <label for="regularIncomeTax" class="form-label">Effective regular income tax rate</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="regularIncomeTax" aria-describedby="regularIncomeTaxHelp" value="{{ variables.regularIncomeTax }}" pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="regularIncomeTaxHelp" class="form-text">Effective tax rate on short term gains / regular income. <a href="#taxRegular" id="taxRegularLink">More info on regular income taxes</a>. Input value from 0 to 100.</div>
                </div>
                <div class="mb-3">
                    <label for="longTermTax" class="form-label">Effective long term tax rate</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="longTermTax" aria-describedby="longTermTaxHelp" value="{{ variables.longTermTax }}" pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="longTermTaxHelp" class="form-text">Effective tax rate on long term capital gains. <a href="#taxLongTerm" id="taxLongTermLink">More info on long term capital gains taxes</a>. Input value from 0 to 100.</div>
                </div>
            </p>
        </details>

        <details id="statesDetails">
            <summary>States</summary>
            <p>
                <div class="first-event event-like">
                    <div class="mb-3">
                        <label for="startMonthLow" class="form-label">Delay till first state</label>
                        <div class="input-group">
                            <input type="text" class="form-control code-ui-input" id="startMonthLow" aria-describedby="startingMonthsHelp" value="{{ variables.startMonthLow }}" pattern="[0-9,]+"  required>
                            <span class="input-group-text">to</span>
                            <input type="text" class="form-control code-ui-input" id="startMonthHigh" aria-describedby="startingMonthsHelp" value="{{ variables.startMonthHigh }}" pattern="[0-9,]+"  required>
                            <span class="input-group-text">months</span>
                        </div>
                        <div id="startingMonthsHelp" class="form-text">Number of months to delay before first state (called "State 0").</div>
                    </div>
                </div>
                {{#each events as |target|}}
                <div class="event inner-event event-like" id="event{{@index}}">
                    <h4>State {{@index}} - <a href="#event{{@index}}" onclick="removeUiState({{@index}})" aria-label="Delete State {{@index}}" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a></h4>
                    <div class="actor">
                        <div class="label">Your actions</div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="quitPercent{{@index}}" class="form-label">Quit</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="quitPercent{{@index}}" aria-describedby="quitHelp{{@index}}" value="{{ target.quit.percent }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">%</span>
                                </div>
                                <div id="quitHelp{{@index}}" class="form-text">Percent chance of you quitting at this stage.</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="buyPercent{{@index}}" class="form-label">Buy</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="buyPercent{{@index}}" aria-describedby="buyHelp{{@index}}" value="{{ target.buy.percent }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">% chance of buying</span>
                                    <input type="text" class="form-control code-ui-input" id="buyAmount{{@index}}" aria-describedby="buyHelp{{@index}}" value="{{ target.buy.amount }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">% of your available shares</span>
                                </div>
                                <div id="buyHelp{{@index}}" class="form-text">Percent chance of you buying the given percent of your vested shares at this stage.</div>
                            </div>
                        </div>
                    </div>
                    <div class="actor">
                        <div class="label">Company exit actions</div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="failPercent{{@index}}" class="form-label">Fail</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="failPercent{{@index}}" aria-describedby="failHelp{{@index}}" value="{{ target.fail.percent }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">%</span>
                                </div>
                                <div id="failHelp{{@index}}" class="form-text">Percent chance of company "failing" at this stage such that the value of shares is effectively zero.</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="sellPercent{{@index}}" class="form-label">Sell</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="sellPercent{{@index}}" aria-describedby="sellHelp{{@index}}" value="{{ target.sell.percent }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">% chance of selling at</span>
                                    <input type="text" class="form-control code-ui-input" id="sellAmountLow{{@index}}" aria-describedby="sellHelp{{@index}}" value="{{ target.sell.amount.low }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control code-ui-input" id="sellAmountHigh{{@index}}" aria-describedby="sellHelp{{@index}}" value="{{ target.sell.amount.high }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <select aria-describedby="sellHelp{{@index}}" class="form-select" id="sellUnits{{@index}}">
                                        <option value="share" {{#if target.sell.shares}}selected{{/if}}>USD per share</option>
                                        <option value="total" {{#unless target.sell.shares}}selected{{/unless}}>total company USD value</option>
                                    </select>
                                </div>
                                <div id="sellHelp{{@index}}" class="form-text">Percent chance the company is sold / acquired at a particular value such that you can sell your shares at the given share value (or assuming the given total company value). Provide range of share values (see <a href="#levelOfConfidence" class="level-of-confidence-link">level of confidence</a>).</div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="ipoPercent{{@index}}" class="form-label">IPO</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="ipoPercent{{@index}}" aria-describedby="ipoHelp{{@index}}" value="{{ target.ipo.percent }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">% chance of IPO at</span>
                                    <input type="text" class="form-control code-ui-input" id="ipoAmountLow{{@index}}" aria-describedby="ipoHelp{{@index}}" value="{{ target.ipo.amount.low }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control code-ui-input" id="ipoAmountHigh{{@index}}" aria-describedby="ipoHelp{{@index}}" value="{{ target.ipo.amount.high }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <select aria-describedby="ipoHelp{{@index}}" class="form-select" id="ipoUnits{{@index}}">
                                        <option value="share" {{#if this.ipo.shares}}selected{{/if}}>USD per share</option>
                                        <option value="total" {{#unless this.ipo.shares}}selected{{/unless}}>total company USD value</option>
                                    </select>
                                </div>
                                <div id="ipoHelp{{@index}}" class="form-text">Percent chance the company has an initial public offering such that you can sell your shares at the given share value (or assuming the given total company value). Provide range of share values (see <a href="#levelOfConfidence" class="level-of-confidence-link">level of confidence</a>).</div>
                            </div>
                        </div>
                    </div>
                    <div class="actor">
                        <div class="label">Company raise actions</div>
                        <div class="option">
                            <div class="mb-3">
                                <label for="raisePercent{{@index}}" class="form-label">Raise chance</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="raisePercent{{@index}}" aria-describedby="raisePercentHelp{{@index}}" value="else" disabled>
                                    <span class="input-group-text">%</span>
                                </div>
                                <div id="raisePercentHelp{{@index}}" class="form-text">Percent chance the company has a fund raise. This is read only, it is 100% minus the probability of failing, selling, or having an IPO. If there is a raise, the simulation will go to the next state. Otherwise, it will terminate.</div>
                            </div>
                            <div class="mb-3">
                                <label for="raiseFmvLow{{@index}}" class="form-label">Raise FMV</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="raiseFmvLow{{@index}}" aria-describedby="raiseFmvHelp{{@index}}" value="{{ target.raise.fmv.low }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control code-ui-input" id="raiseFmvHigh{{@index}}" aria-describedby="raiseFmvHelp{{@index}}" value="{{ target.raise.fmv.high }}" pattern="([0-9,]+|[0-9,]+\.\d+)" required>
                                    <span class="input-group-text">USD</span>
                                </div>
                                <div id="raiseFmvHelp{{@index}}" class="form-text">Range of expected <a href="#info409a" class="info-409a-link">409A fair market values</a> after raise if one happens using <a href="#levelOfConfidence" class="level-of-confidence-link">range settings in simulation section</a>.</div>
                            </div>
                            <div class="mb-3">
                                <label for="raiseDiluteLow{{@index}}" class="form-label">Raise dilution</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="raiseDiluteLow{{@index}}" aria-describedby="raiseDiluteHelp{{@index}}" value="{{ target.raise.dilute.low }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control code-ui-input" id="raiseDiluteHigh{{@index}}" aria-describedby="raiseDiluteHelp{{@index}}" value="{{ target.raise.dilute.high }}" pattern="(100|\d{1,2})" required>
                                    <span class="input-group-text">%</span>
                                </div>
                                <div id="raiseDiluteHelp{{@index}}" class="form-text">Range of expected <a href="#infoDilution" class="info-dilution-link">dilution</a> of shares using <a href="#levelOfConfidence" class="level-of-confidence-link">range settings in simulation section</a> if a raise happens.</div>
                            </div>
                            <div class="mb-3">
                                <label for="raiseDelayLow{{@index}}" class="form-label">Delay after raise</label>
                                <div class="input-group">
                                    <input type="text" class="form-control code-ui-input" id="raiseDelayLow{{@index}}" aria-describedby="raiseDelayHelp{{@index}}" value="{{ target.raise.delay.low }}" pattern="[0-9,]+"  required>
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control code-ui-input" id="raiseDelayHigh{{@index}}" aria-describedby="raiseDelayHelp{{@index}}" value="{{ target.raise.delay.high }}" pattern="[0-9,]+"  required>
                                </div>
                                <div id="raiseDelayHelp{{@index}}" class="form-text">Delay between raise if one happens to next state.</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div id="event{{numEvents}}" class="add-state-holder">
                    <a href="#event{{numEvents}}" onclick="addUiState()" class="btn btn-outline-success">
                        <i class="bi bi-node-plus-fill"></i> Add State
                    </a>
                </div>
            </p>
        </details>

        <details>
            <summary>Simulation</summary>
            <p>
                <div class="mb-3">
                    <label for="ipoBuy" class="form-label">Percent to buy if IPO</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="ipoBuy" aria-describedby="ipoBuyHelp" value="{{ variables.ipoBuy }}" pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="ipoBuyHelp" class="form-text">Percent of remaining shares to buy if there is an initial public offering. Input value from 0 to 100.</div>
                </div>
                <div class="mb-3">
                    <label for="sellBuy" class="form-label">Percent to buy if company sold</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="sellBuy" aria-describedby="sellBuyHelp" value="{{ variables.sellBuy }}" pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="sellBuyHelp" class="form-text">Percent of remaining shares to buy if the company is sold. Input value from 0 to 100.</div>
                </div>
                <div class="mb-3">
                    <label for="quitBuy" class="form-label">Percent to buy if quit</label>
                    <div class="input-group">
                        <input type="text" class="form-control code-ui-input" id="quitBuy" aria-describedby="quitBuyHelp" value="{{ variables.sellBuy }}" pattern="(100|\d{1,2})" required>
                        <span class="input-group-text">%</span>
                    </div>
                    <div id="quitBuyHelp" class="form-text">Percent of remaining shares to buy if you leave your job. Input value from 0 to 100.</div>
                </div>
                <div class="mb-3">
                    <label for="waitToSell" class="form-label">Tax optimization</label>
                    <select class="form-select" id="waitToSell" aria-describedby="waitToSellHelp">
                        <option value="0" {{#unless derived.longTerm}}selected{{/unless}}>Sell options as soon as possible.</option>
                        <option value="1" {{#if derived.longTerm}}selected{{/if}}>Sell after all options are long term capital gains.</option>
                    </select>
                    <div id="waitToSellHelp" class="form-text">Strategy to use to reduce tax rate. Simulation supports either selling all options right away or waiting to sell after holding for 1 year.</div>
                </div>
                <div class="mb-3">
                    <label for="rangeStd" class="form-label">Range confidence</label>
                    <select class="form-select" id="rangeStd" aria-describedby="rangeStdHelp">
                        <option value="1" {{#unless derived.highConfidence}}selected{{/unless}}>Low confidence (ranges represent 68% of outcomes if normal).</option>
                        <option value="2" {{#if derived.highConfidence}}selected{{/if}}>High confidence (ranges represent 95% of outcomes if normal).</option>
                    </select>
                    <div id="rangeStdHelp" class="form-text">Level of confidence you have in the ranges provided in the events section (like FMV, amount diluation, IPO share price etc). More <a href="#levelOfConfidence" class="level-of-confidence-link">info about level of confidence</a>.</div>
                </div>
                <div class="mb-3">
                    <label for="useLogNorm" class="form-label">Company Value Distribution</label>
                    <select class="form-select" id="useLogNorm" aria-describedby="useLogNormHelp">
                        <option value="0" {{#unless derived.useLogNorm}}selected{{/unless}}>Normal Distribution</option>
                        <option value="1" {{#if derived.useLogNorm}}selected{{/if}}>Log Normal Distribution (use with caution)</option>
                    </select>
                    <div id="useLogNormHelp" class="form-text">The type of distribution to use when simulating share or company value during sale or IPO. Though not recommended in most cases, <a href="">log normal is also supported</a>. In either case, this simulation does not <a href="">consider different classes of stocks</a>.
                </div>
            </p>
        </details>
    </form>
    </div>