<details>
    <summary>Grant</summary>
    <p>
        <div class="mb-3">
            <label for="numOptions" class="form-label">Number of options</label>
            <input type="number" class="form-control" id="numOptions" aria-describedby="numOptionsHelp" value="{{ variables.numOptionsAvailable }}" step="1" pattern="\d+" min="0">
            <div id="numOptionsHelp" class="form-text">Total number of options granted.</div>
        </div>
        <div class="mb-3">
            <label for="strikePrice" class="form-label">Strike price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="strikePrice" aria-describedby="strikePriceHelp" value="{{ variables.strikePrice }}" pattern="(\d+|\d+\.\d+)" min="0">
            </div>
            <div id="strikePriceHelp" class="form-text">Strike price or cost to purchase per share in dollars.</div>
        </div>
        <div class="mb-3">
            <label for="startFMV" class="form-label">Start FMV</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="strikePrice" aria-describedby="startFMVHelp" value="{{ variables.startFMV }}" pattern="(\d+|\d+\.\d+)" min="0">
            </div>
            <div id="startFMVHelp" class="form-text">Starting <a href="#info409a" id="info409aLink">409A fair market value</a> per share. Note that this simulation will <a href="#simulateFMVChanges" id="simulateFMVChangesLink">simulate FMV changes</a> tied to new rounds.</div>
        </div>
        <div class="mb-3">
            <label for="startTotalShares" class="form-label">Start total shares</label>
            <input type="number" class="form-control" id="startTotalShares" aria-describedby="startTotalSharesHelp" value="{{ variables.startTotalShares }}" step="1" pattern="\d+" min="0">
            <div id="startTotalSharesHelp" class="form-text">Starting fully diluted shares: shares you have plus shares you don't. You can also <a id="calculateFromPercentOwnershipLink" href="#calculateFromPercentOwnership">calculate this from your fully diluted percent ownership</a> in the company. Simulation will diluate shares with new raises.</div>
        </div>
    </p>
</details>

<details>
    <summary>Vesting</summary>
    <p>
        <div class="mb-3">
            <label for="startVestingMonths" class="form-label">Months till cliff</label>
            <input type="number" class="form-control" id="startVestingMonths" aria-describedby="startVestingMonthsHelp" value="{{ variables.startVestingMonths }}" step="1" pattern="\d+" min="0">
            <div id="startTotalSharesHelp" class="form-text">Number of months until vesting starts.</div>
        </div>
        <div class="mb-3">
            <label for="immediatelyVest" class="form-label">Immediately vest at cliff</label>
            <input type="number" class="form-control" id="immediatelyVest" aria-describedby="immediatelyVestHelp" value="{{ variables.immediatelyVest }}" step="1" pattern="\d+" min="0">
            <div id="immediatelyVestHelp" class="form-text">Number of shares that will immedietly vest at cliff.</div>
        </div>
        <div class="mb-3">
            <label for="monthlyVest" class="form-label">Monthly vest after cliff</label>
            <input type="number" class="form-control" id="monthlyVest" aria-describedby="monthlyVestHelp" value="{{ variables.monthlyVest }}" step="1" pattern="\d+" min="0">
            <div id="monthlyVestHelp" class="form-text">Number of shares vesting per month after cliff.</div>
        </div>
    </p>
</details>

<details>
    <summary>Taxes</summary>
    <p>
        <div class="mb-3">
            <label for="optionTax" class="form-label">Taxes on option purchase</label>
            <div class="input-group">
                <input type="number" class="form-control" id="optionTax" aria-describedby="optionTaxHelp" value="{{ variables.optionTax }}"step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="optionTaxHelp" class="form-text">Effective tax rate on "spread" between your strike price and fair maket value. <a href="#taxSpread" id="taxSpreadLink">More info on taxes paid on spread</a>. Input value from 0 to 100.</div>
        </div>
        <div class="mb-3">
            <label for="regularIncomeTax" class="form-label">Effective regular income tax rate</label>
            <div class="input-group">
                <input type="number" class="form-control" id="regularIncomeTax" aria-describedby="regularIncomeTaxHelp" value="{{ variables.regularIncomeTax }}" step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="regularIncomeTaxHelp" class="form-text">Effective tax rate on short term gains / regular income. <a href="#taxRegular" id="taxRegularLink">More info on regular income taxes</a>. Input value from 0 to 100.</div>
        </div>
        <div class="mb-3">
            <label for="longTermTax" class="form-label">Effective long term tax rate</label>
            <div class="input-group">
                <input type="number" class="form-control" id="longTermTax" aria-describedby="longTermTaxHelp" value="{{ variables.longTermTax }}" step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="longTermTaxHelp" class="form-text">Effective tax rate on long term capital gains. <a href="#taxLongTerm" id="taxLongTermLink">More info on long term capital gains taxes</a>. Input value from 0 to 100.</div>
        </div>
    </p>
</details>

<details>
    <summary>Events</summary>
    <p>
        <div class="event">
            <div class="mb-3">
                <label for="startingMonths" class="form-label">Delay till first event</label>
                <input type="number" class="form-control" id="startingMonths" aria-describedby="startingMonthsHelp" value="{{ variables.startingMonths }}" step="1" pattern="\d+" min="0">
                <div id="startingMonthsHelp" class="form-text">Number of months to delay before first event.</div>
            </div>
        </div>
    </p>
</details>

<details>
    <summary>Simulation</summary>
    <p>
        <div class="mb-3">
            <label for="ipoBuy" class="form-label">Percent to buy if IPO</label>
            <div class="input-group">
                <input type="number" class="form-control" id="ipoBuy" aria-describedby="ipoBuyHelp" value="{{ variables.ipoBuy }}" step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="ipoBuyHelp" class="form-text">Percent of remaining shares to buy if there is an initial public offering. Input value from 0 to 100.</div>
        </div>
        <div class="mb-3">
            <label for="sellBuy" class="form-label">Percent to buy if company sold</label>
            <div class="input-group">
                <input type="number" class="form-control" id="sellBuy" aria-describedby="sellBuyHelp" value="{{ variables.sellBuy }}" step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="sellBuyHelp" class="form-text">Percent of remaining shares to buy if the company is sold. Input value from 0 to 100.</div>
        </div>
        <div class="mb-3">
            <label for="quitBuy" class="form-label">Percent to buy if quit</label>
            <div class="input-group">
                <input type="number" class="form-control" id="quitBuy" aria-describedby="quitBuyHelp" value="{{ variables.sellBuy }}" step="1" pattern="(100|\d{1,2})" min="0" max="100">
                <span class="input-group-text">%</span>
            </div>
            <div id="quitBuyHelp" class="form-text">Percent of remaining shares to buy if you leave your job. Input value from 0 to 100.</div>
        </div>
        <div class="mb-3">
            <label for="waitToSell" class="form-label">Tax optimization</label>
            <select class="form-select" id="waitToSell" aria-describedby="waitToSellHelp">
                <option value="0" {{#unless variables.longTerm}}selected{{/unless}}>Sell options as soon as possible.</option>
                <option value="1" {{#if variables.longTerm}}selected{{/if}}>Sell after all options are long term capital gains.</option>
            </select>
            <div id="waitToSellHelp" class="form-text">Strategy to use to reduce tax rate. Simulation supports either selling all options right away or waiting to sell after holding for 1 year.</div>
        </div>
        <div class="mb-3">
            <label for="rangeStd" class="form-label">Range confidence</label>
            <select class="form-select" id="rangeStd" aria-describedby="rangeStdHelp">
                <option value="1" {{#unless variables.highConfidence}}selected{{/unless}}>Low confidence (ranges represent 68% of outcomes).</option>
                <option value="2" {{#if variables.highConfidence}}selected{{/if}}>High confidence (ranges represent 95% of outcomes).</option>
            </select>
            <div id="rangeStdHelp" class="form-text">Level of confidence you have in the ranges provided in the events section (like FMV, amount diluation, IPO share price etc). More <a href="#levelOfConfidence" id="levelOfConfidenceLink">info about level of confidence</a>.</div>
        </div>
    </p>
</details>